@media screen and (max-width:576px) {
    
    .Home{
        background: linear-gradient(to right, rgba(255, 255, 255, 0.9) ,rgba( 255,255, 255, 0.8),rgba(255, 255, 255, 0.2)),url('./Images/home-bg.jpg');
        background-size: cover;
        background-position:  center;
    }
    .hometext h1{
        font-size: 2.5rem;
    }
    .headdash .dash{
        width: 3rem;
        height: 2px;
    }
    .service-card{
        height: 40vh;   
    }
    .Topservices{
        height: 100vh;
        background-image: url('./Images/topservices-bg.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: var(--lightgrey);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Topservicesbg{
        height: 40vh;
    }
    .Topservicestext{
        padding-top: 5rem;
        padding-left: 0rem;
    }
   
    .Topservicestext .headdash .dash{
        width: 3rem;
        height: 2px;

    }
    .portfolioimg{
        height: 30vh;
    }
    .details img{
        width: 5rem;
        
    }
    .details-card{
        height: 15vh;
    }
    #footer{
        height: 90vh;
    }
    footer .socialmedia{
        justify-content: flex-start;
    }
    .Addvertisement{
        height: 30vh;
    }
    .inner-data{
        text-align: center;
    }
    .inner-data button{
        margin-top: 2rem;
    }
    .blogimg{
        height: 30vh;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    
    .Home{
        background: linear-gradient(to right, rgba(255, 255, 255, 0.9) ,rgba( 255,255, 255, 0.8),rgba(255, 255, 255, 0.2)),url('./Images/home-bg.jpg');
        background-size: cover;
        background-position: center;
        
    }
    .service-card {
        height: 25vh;
    }
    .Topservicesbg{
        height: 30vh;
    }
    .Topservices{
        height: 70vh;
    }
    .Topservicestext{
        padding-top: 5rem;
        padding-left: 0rem;
    }
    .hometext h1{
        font-size: 4.5rem;
    }
    .portfolioimg{
        height: 20vh;
    }
    .Addvertisement{
        height: 20vh;
    }
    .details-card{
        height: 10vh;
    }
    .blogimg{
        height: 20vh;
    }
    .Testimonials{
        height: 35vh;
    }
    .team-img{
        height: 20vh;
        
    }
    #footer{
        height: 55vh;
    }
    footer .socialmedia{
        justify-content: flex-start;
    }
}