@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}
:root{
    --red :#ff2143;
    --black : #000000;
    --blue: #092c3f;
    --lightgrey:#F7F7F7;
}
#Services, #Portfolio , #Team{
    background-color: var(--lightgrey)  ;
}
p{
    font-size: small;
    margin-bottom: 0;
}
h6{
    margin: 0;
}
.Navigation{
    position: fixed;
    color: black;
    background-color: white;
    z-index: 999 ;
}
.padding-nav{
    padding:  1.5rem 0;
}
/* HomePage */
.Home{
    height: 100vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9) ,rgba( 255,255, 255, 0.4),rgba(0, 0, 0, 0.7)),url('./Images/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 10%;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.subheading{
    color: var(--red);
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.subheading .dash{
    background-color: var(--red);
    width: 3rem;
    height: 2px;
    margin-right: 1rem;
}
.hometext h1{
    font-weight: 900;
    font-size: 4rem;
    color: var(--black);
}
.hometext button{
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-size: small;
    font-weight: bold;
}

/* about */

.headdash{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.headdash .dash{
    width: 5rem;
    height: 2px;
    margin-right: 1rem;
    background-color: var(--red) ;
}
.headdash h4{
    font-weight: bold;
}

/* Services */

.headdash p{
    color: var(--red);
    text-transform: uppercase;
}
.Services h1{
    font-weight: 900;
    
}
.service-card{
    height: 50vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-card-details{
    position: relative;
    height: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.service-card-details img{
    width: 3rem;
    height: auto;
}
.service-card-details h6{
    font-weight: bold;
    color: var(--blue);
}
.line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--red) ;
    transition: 1s;
    align-self: flex-start;
}
.service-card-details:hover .line{
    width: 100%;
}

/* Top Services */

.Topservices{
    height: 100vh;
    background-image: url('./Images/topservices-bg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--lightgrey);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Topservicesbg{
    height: 70vh;
    background-image: url('./Images/topservices.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.Topservicestext{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 4rem;
}
.Topservicestext .headdash{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Topservicestext .headdash .dash{
    width: 5rem;
    height: 2px;
    margin-right: 1rem;
    background-color: var(--lightgrey) ;
}
.Topservicestext p{
    color: var(--lightgrey);
}
.Topservices h2{
    font-weight: bold;
    color: var(--lightgrey);
}
.Topservicestext button{
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-size: small;
    font-weight: bold;
}

/* portfolio */

.Portfolio-text .headdash{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Portfolio-text .headdash .dash{
    width: 5rem;
    height: 2px;
    margin-right: 1rem;
    background-color: var(--red) ;
}
.Portfolio-text h2{
    font-weight: 900;
    color: var(--blue);
}
.portfolioimg{
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.p1{
    background-image: url('./Images/p-1.webp');
}
.p2{
    background-image: url('./Images/p-2.webp');
}
.p3{
    background-image: url('./Images/p-3.webp');
}
.p4{
    background-image: url('./Images/p-4.webp');
}
.portfolio-text{
    margin-top: -2rem;
    background-color: white;
}
.portfolio-text .small-dash{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--red);
}
.small-dash .dash{
    width: 2rem;
    height: 2px;
    background-color: var(--red);
    margin-right: 1rem;
}
.portfolio-text h6{
    font-weight: 400;
}

/* Testimonials */

.Testimonials{
    height: 70vh;
    background-image: url('./Images/testimonial-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test-sec, .details , .name {
    display: flex;
    justify-content: center;
    align-content: center;
}
.test-sec p{
    color: var(--lightgrey);
}
.test-sec h2{
    font-weight: 900;
    font-size: 5rem;
    color: var(--red);
    font-family: 'Passion One', cursive !important;
}
.test-sec, .name{
    flex-direction: column;
}
.details img{
    width: 3.5rem;
    height: auto;
    margin-right:1rem ;
}
.name h5{
    font-weight: bold;
    color: var(--red);
    margin-bottom: 0;
}
.name p{
    color: var(--lightgrey);
}
.main-details-card{
    margin: 2rem 0rem;
}
.details-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.inner-details-card{
    height: 100%;
    background-color: white;
    border: 4px solid var(--lightgrey);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.redbox{
    background-color: var(--red);
    color: white;
}

/* Team */

.team-text .headdash{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.team-text .headdash .dash{
    width: 5rem;
    height: 2px;
    margin-right: 1rem;
    background-color: var(--red) ;
}
.team-text h2{
    font-weight: 900;
    color: var(--blue);
}
.team-img{
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.t1{
    background-image: url('./Images/t-1.webp');
}
.t2{
    background-image: url('./Images/t-2.webp');
}
.t3{
    background-image: url('./Images/t-3.webp');
}
.member-details{
    background-color: #fff;
}
.member-details .small-dash{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--red);
}
.small-dash .dash{
    width: 1rem;
    height: 2px;
    background-color: var(--red);
    margin-right: 0.5rem;
}
.member-details h5{
    font-size: 1rem;
    font-weight: bold;
}
#footer{
    height: 70vh;
    background-image: url('./Images/footer-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer1{
    color: var(--lightgrey);
}
.footer1 ul li,.footer2 ul li,.footer3 ul li,.footer4 ul li{
    list-style: none;
}
.footer4 form input{
    outline: none;
    border: 1px solid var(--blue);
}
.footer4 button{
    border: none;
    outline: none;
    font-size: small;  
}
.footerhead{
    color: white;
    margin-bottom: 2rem;
}
footer li{
    margin-top: 0.5rem;
}
footer a{
    color: rgb(224, 219, 219);
    text-decoration: none;
}
.footerhead p{
    color: var(--red);
}
footer .call{
    color:  white;
    font-size: 2rem;
    font-weight: 600;
}
footer .call span{
    color: var(--red);
}
.footerabout{
    margin-top: 1.4rem;
}
.footer hr{
    margin-top: 5rem;
    color: var(--lightgrey);
}
footer .lowerfooter{
    color: var(--lightgrey);
}
footer .socialmedia{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: small;
}